# Backend
OPENCLAW_BASE_URL=http://127.0.0.1:18789
OPENCLAW_GATEWAY_TOKEN=6f5b698c6f63e3ccbf908956dc332a93fbda3e3edbf7baed
OPENCLAW_AGENT_ID=main
OPENCLAW_TIMEOUT_SECONDS=45
CORS_ALLOW_ORIGINS=http://localhost:3000
FITNESS_DB_PATH=./backend/fitness_coach.db

# Frontend
NEXT_PUBLIC_API_URL=http://127.0.0.1:8000/chat

# Telegram
TELEGRAM_BOT_TOKEN=8781697341:AAGv7YvYvgy-dYqKGwNJCvFxmfEZG__zquM
FITNESS_API_URL=http://127.0.0.1:8000/chat
